.gitignore
*.o
*.html
*.pdf
*.info
*.ps
*.xml
*.log
*.swp
src/missing/*
stamp-h1
*Makefile
src/Makefile.in
config.h
config.status
netperf.spec
src/.deps
src/netperf_version.h
doc/*
doc/netperf.html
autom4te.cache/
src/netperf
src/netserver
netserver_output
tags
src/tags
configure
config.h.in~
